<div class="login">
	<div class="logo">
		<%= image_tag "m-white-small.svg" %>
	</div>
	<div class="the-name">
		EndRun
	</div>
	<div class="clear"></div>
	<p>We've sent you a login link. Check your email to proceed.</p>
</div>