<div class="featured-container">
	<div class="featured-well featured-one" style="background-image: url('<%= asset_path('dp_featured_block.jpg') %>');" >
		<div class="featured-tall">
			<div class="overlay" style="background:none;">
				<div class="container">
					<div class="featured-one-kicker">
						<a href="/feature">Feature</a>
					</div>
					<a href="/next-to-die?ref=hp" class="featured-link">
						<div class="featured-one-headline">
							The Next to Die
						</div>
					</a>
					<div class="featured-one-byline">
						By 
						<span><a href="https://www.themarshallproject.org/staff/gabriel-dance">Gabriel Dance</a></span>,
						<span><a href="https://www.themarshallproject.org/staff/tom-meagher">Tom Meagher</a></span> and
						<span><a href="https://www.themarshallproject.org/staff/andy-rossback">Andy Rossback</a></span>				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>