<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www=.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title>The Marshall Project | Opening Statement</title>
		
    <style type="text/css">
    	
    	body {
    		margin: 0;
            background-color: #ececea;
    	}
    	
    	.footer { 
    		padding: 50px 0px 50px 50px;
    		background-color: #000;
    		color: #fff;
    	}

    	.subscription-tools {
    		font-size: 15px;
    		line-height: 30px;
    	}

    	.address {
     		font-family: Courier;
    		font-weight: normal;     	
    		margin-top: 40px;
    		font-size: 12px;
    		line-height: 17px;	
    	}

    	.footer-image {
    		float: right;
    		padding: 10px;
    	}

    	.footer-image img {
    		width: 20px;
            margin-right: 10px;
    	}

	</style>
</head>
<body style="margin:0;padding:0;background-color: #ececea;">
