<h1>Google Form Converter</h1>
<p><kbd><kbd>1</kbd></kbd> Enter the address for a public Google Form. For example, here's <a href="https://docs.google.com/forms/d/162DpQwFruAqxBZ3q1MUwMimQKY_MOZDWCESE_Ab_Paw/viewform">the kitchen sink.</a></p><br>
<div class="row">
	<div class="col-lg-12">
		<form action="/admin/google-forms" method="GET">
			<div class="input-group input-group-lg">
		      <input class="form-control" name="url" placeholder="https://docs.google.com/forms/d/1MEzTjZSbc1rNW4CxkafGL34bMntNE4gxrcZNDqYgG6o/viewform" size="100">
		      <span class="input-group-btn">
		        <input class="btn btn-default" value="Convert" type="submit">Go!</button>
		      </span>
		    </div>
		</form>
	</div>
</div>

<br><br>

<% if @form_html.present? %>
<p><kbd><kbd>2</kbd></kbd> Copy and paste the markup generated below into a <a href="/admin/graphics/new">new graphic asset.</a></p>
<p><kbd><kbd>3</kbd></kbd> Add that graphic asset to a post using the <code>[graphic id="X"]</code> shortcode. That’s it.</p>
<br>
<pre style="height: 500px; overflow: scoll;">
<%= @form_html %>
</pre>
<% else %>
	
<% end %>

