<%= link_to "Back to edit post", edit_post_path(params[:id]) %>

<h1>Editing Inline Photos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

<% @photo_ids.each do |photo_id| %>
	<% photo = @photos.select{|p| p.id == photo_id.to_i }.first %>
	<tr>
	    <td>
			<%= image_tag photo.url_for(size: '360x') rescue photo.inspect %>
		</td>
		<td>
			<span style="font-size: 100px; line-height: 120px; text-align: center;"><%= link_to("#{photo_id}", edit_photo_path(photo_id)) rescue photo_id %></span></b><br>
			<%= photo.caption rescue "(problem with caption)" %>
		</td>
	</tr>
<% end %>
</table>