Drag this to your bookmarks bar:

<a class="btn btn-primary" href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='<%= bookmarklet_app_url() %>';})();">Add Link to Gator<%= " DEV" if Rails.env.development? %></a>