Drag this to your bookmarks bar:

<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='//<%= request.host_with_port %><%= bookmarklet_app_url() %>';})();">Add Link to Gator<%= " DEV" if Rails.env.development? %></a>