
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 3px solid #428bca;
	background: #FFF !important;
}

.navbar-brand {
	padding: 10px 15px 10px 15px !important;
}
