<div class="tag-modal modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Tags</h4>
      </div>
      <div class="modal-body">

      <ul>
        <% tag_cache_timestamp = Tag.unscoped.order('updated_at DESC').first.updated_at # timestamp of most recently updated tag %>
        <% cache ["tags/modal/1/#{tag_cache_timestamp}"] do %>
          <% Tag.all.each do |tag| %>
            <li class="btn btn-default" data-tag-id="<%= tag.to_param %>"><%= tag.name %></li>
          <% end %>
        <% end %>
      </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->