<!--

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="">
      <div class="caption">
        <h3><%= link_to item.title, item %></h3>
       
      </div>
    </div>
  </div>

-->