/*.fluid-test {
	article {
		display: block;
		padding: 0;
		margin: 0;
	}
	.header {
		margin-bottom: 200px;
	}
	section {
		p {
			padding-left: 40px;
			padding-right: 40px;
			margin-left: 33.333%;
			margin-bottom: 20px;
		}

	}

	section {
		position: relative;
		max-width: 1140px;
		width: 100%;
		margin: 0 auto;
	}

	

	.photo-left-inner {
		padding-left: 40px;
		position: absolute;
		width: 33%;
		left: 0px;
	}


}*/