/* tags at end of articles, author page, etc. */

.tag-group {
	margin-bottom: 45px;
}

.tag-button {
	@include font-detail-bold;
	margin-top: 15px;
	margin-right: 15px;
	float: left;
	background-color: $lightbg;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	@include animate;
	a {
		color: $black;
	}
	a:hover {
		color: $black;
	}
}

.tag-button-link {
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px 30px 10px 30px;
}

.tag-button:hover {
	background-color: $link;
	@include animate;
	a:hover {
		text-decoration: none;
	}
}

/* buttons */

.outlined-button {
	border: 2px solid $black;
	text-align: center;
	@include font-detail-bold;
	text-transform: uppercase;
	font-size: 14px;
	@include animate;
	a {
		color: $black;
	}
	a:hover {
		color: $black;
		text-decoration: none;
	}
}

.outlined-button-link {
	display: block;
	padding: 8px 10px 10px 10px;
	width: 100%;
	height: 100%;
}

.outlined-button:hover {
	background-color: $link;
	border: 2px solid $link;
	@include animate;
}

/* forms */

.form-input {
	color: $timestamps;
	float: left;
	background-color: $lightbg;
	margin-bottom: 30px;
	border: none;
	height: 64px;
	width: 100%;
	@include font-detail;
	font-size: 16px;
	line-height: 16px;
	color: $bg;
	padding: 28px 10px 24px 24px;
	border-left: 1px solid $lightbg;
	-webkit-appearance: none;
	-webkit-border-radius:0;
	border-radius:0;
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
   color: #999;
   opacity: 1;
}

::-moz-placeholder {
   color: #999;
   opacity: 1;
}

:-ms-input-placeholder {
   color: #999;
}

.form-textarea {
	@include font-detail;
	color: $timestamps;
	margin-bottom: 30px;
	float: left;
	background-color: $lightbg;
	border: none;
	width: 100%;
	font-size: 16px;
	line-height: 25px;
	color: $bg;
	padding: 19px 10px 24px 24px;
	border-left: 1px solid $lightbg;
}

.form-input:focus {
	outline: 0;
	border-left: 1px solid $rules;
}

.form-textarea:focus {
	outline: 0;
	border-left: 1px solid $rules;
}

.form-button, .newsletter-button {
	@include font-detail;
	float: left;
	background-color: $timestamps;
	border: none;
	height: 64px;
	width: 30%;
	color: $white;
	font-size: 16px;
	line-height: 16px;
	@include animate;
	padding: 0px !important;
}

.form-button:hover, .newsletter-button:hover {
	cursor: pointer;
	background-color: $link;
	color: $black;
}

.form-button:focus, .newsletter-button:focus {
	outline: 0;
}

/* document cloud */

.DC-note-container {
	margin-bottom: 70px;
	margin-top: 30px;
}

.DC-note, .DC-note-body, .DC-note-header, .DC-note-embed-resource, .DC-note-title {
	background-image: none !important;
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
	margin: 0 !important;
	padding: 0 !important;
	font-family: Pressura !important;
	max-width: 100% !important;
	font-size: 14px !important;
}

.DC-note-title {
	font-size: 20px !important;
	line-height: 1.3em !important;
	text-transform: none !important;
	color: #111 !important;
}

.DC-note a {
	text-decoration: none !important;
	color: #111 !important;
}

.DC-note-header {
	margin: 0;
}

.DC-note-image-max-bounds {
	max-width: none!important;
	max-height: none !important;
	box-shadow: none !important;
	margin-top: 20px !important;
	margin-bottom: 15px !important;
	border: 1px solid #ff0b3a !important;
}

.DC-note-background-fader, .DC-note-credit {
	display: none !important;
}

/* documents */

.document-shim {
  position: relative;
  height: 1200px;
}

.document-header {
  margin-bottom: 50px;
  max-width: 700px;
}

.document-title {
  @include font-detail-bold;
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 20px;
  line-height: 1.3em;
  letter-spacing: -1px;
  word-spacing: -1px;
  a:hover {
    color: $link !important;
    text-decoration: none;
  }
}

.document-desc {
  @include font-detail-bold;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5em;
  span {
    @include font-detail;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: $timestamps;
  }
}

/* sidebar annotations */

.post-annotation {
	display: inline;
	background-color: #d6d6d6;
	padding: 3px 6px;
	letter-spacing: -0.3px;
	font-family: Pressura;
	font-size: 16px;
	text-transform: uppercase;
	font-style: normal !important;
}
.post-annotation-sidebar {
	margin-right: 0;
	position: absolute;
	float: left;
	display: block;
	width: 23%;
	font-family: PressuraLight;
	font-size: 13px;
	line-height: 23px;
	a {
		text-decoration: underline;
	}
}
.post-annotation-sidebar span {
	padding: 0px 0px 5px 0px;
	font-family: Pressura;
	font-size: 14px;
	line-height: 17px;
	display: block;
	text-transform: uppercase;
}
.post-annotation-shim {
	position: relative;
	margin: 0;
	width: 100%;
}

.search-input {
	width: 70%;
}

@media (max-width: 739px) {

	.post-annotation-sidebar {
		position: initial;
		width: 100%;
		margin-bottom: 50px;
	}
}


/* dropcaps, for [dropcap] */
.dropcap-shim {
	height: 50px;
	&:before {
		content: " ";
	}
}

.sans-serif-dropcap {
	float: left;
	font-size: 140px;
	line-height: 100px;
	padding-right: 35px;
	padding-bottom: 20px;
	font-family: pressura;
}

.serif-dropcap {
	float: left;
	font-size: 140px;
	line-height: 120px;
	padding-right: 35px;
	padding-bottom: 20px;
	font-family: Miller;
}

/* stub update */

.post-updated-divide {
	margin-top: 50px;
	margin-bottom: 50px;
}

.post-updated-divide-name {
	margin-top: -9px;
	display: inline-block;
	background-color: #f6f6f4;
	padding: 0px 10px 0px 0px;
	font-family: Pressura;
	font-size: 14px;
	text-transform: uppercase;
	color: #cececc;
}

.post-updated-divide-line {
	margin-bottom: -9px;
	border-top: 1px solid #cececc;
}

.update {
	margin-top: 50px;
	margin-bottom: 50px;
}
.update .timestamp {
	font-family: PressuraLight;
	font-size: 14px;
	text-transform: uppercase;
	color: #888;
	background-color: #f6f6f4;
	display: inline-block;
	padding: 0px 12px 0px 0px;
	margin-top: -9px;
}
.update .line {
	margin-bottom: -8px;
	border-top: 1px solid #888;
}

/* asked and answered */

.askedanswered-question {
	font-family: Pressura;
	color: #fff;
	text-transform: uppercase;
	margin-right: 7px;
	padding: 4px 10px 5px 10px;
	font-size: 14px;
	background-color: #888;
}
.askedanswered-question svg polygon {
	fill: #fff;
}
.askedanswered-question svg {
	margin-right: 10px;
}
.askedanswered-shim {
	display: block;
	margin-bottom: 30px;
}
@media (max-width: 739px) {
	.askedanswered-question {
		display: block;
	}
}