<div class="social-bar">

	<iframe class="facebook" style="display: inline-block; width: 49px; height: 20px; overflow: hidden;" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FTheMarshallProject.org&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" allowtransparency="true"></iframe>

	<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="" class="twitter-follow-button" title="Twitter Follow Button" style="width: 159px; height: 20px;"></iframe>
    
</div>