<section class="stream-post">
	<div class="tease-popular-container">
		<div class="container">
			<div class="col4 tease-popular-header">
				Most Read on TMP
			</div>
			<div class="col8">
				<div class="tease-popular-item">
					<div class="tease-kicker">
						<a href="#">NEWS</a> <span></span>
					</div>
					<div class="tease-popular-headline">
						<a href="#">Two Lives Lost: A Harrowing, Early Portrait of Heroin Addicts</a>
					</div>
					<div class="tease-popular-content">
						In April, the National Academy of Sciences released a 444-page doorstop of a report concluding that the quadrupling of the American incarceration rate since 1970 had not, in fact, significantly reduced crime.
					</div>
				</div>
				<div class="tease-popular-item">
					<div class="tease-kicker">
						<a href="#">NEWS</a> <span></span>
					</div>
					<div class="tease-popular-headline">
						<a href="#">Two Lives Lost: A Harrowing, Early Portrait of Heroin Addicts</a>
					</div>
					<div class="tease-popular-content">
						<img src="https://tmp-photo.s3.amazonaws.com/photo/7d009d5e/1/1000x700/">
					</div>
				</div>
				<div class="tease-popular-item">
					<div class="tease-kicker">
						<a href="#">NEWS</a> <span></span>
					</div>
					<div class="tease-popular-headline">
						<a href="#">Two Lives Lost: A Harrowing, Early Portrait of Heroin Addicts</a>
					</div>
					<div class="tease-popular-content">
						In April, the National Academy of Sciences released a 444-page doorstop of a report concluding that the quadrupling of the American incarceration rate since 1970 had not, in fact, significantly reduced crime.
					</div>
				</div>								
				<div class="clear"></div>
			</div>
		</div> 
	</div>
</section>



