<section class="stream-post container stream-border">
	<div class="col4">
		&nbsp;
	</div>
	<div class="col8">
		<div class="tag-group tease-tags">
			<div class="tease-tags-header">
				Trending Topics
			</div>
			<div class="tag-button">Death Penalty
				<a class="tag-button-link" href="#"></a>
			</div>
			<div class="tag-button">Prisons
				<a class="tag-button-link" href="#"></a>
			</div>
			<div class="tag-button">Lethal Injection
				<a class="tag-button-link" href="#"></a>
			</div>
			<div class="tag-button">Prison Officers
				<a class="tag-button-link" href="#"></a>
			</div>
			<div class="tag-button">Police
				<a class="tag-button-link" href="#"></a>
			</div>
			<div class="tag-button">Guns
				<a class="tag-button-link" href="#"></a>
			</div>
			<div class="tag-button">Ferguson
				<a class="tag-button-link" href="#"></a>
			</div>
			<div class="tag-button">Bail bonds
				<a class="tag-button-link" href="#"></a>
			</div>
			<div class="tag-button">Sentencing
				<a class="tag-button-link" href="#"></a>
			</div>
			<div class="tag-button">Botched Executions
				<a class="tag-button-link" href="#"></a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</section>