<% topshelf_id = SecureRandom.hex %>
<% topshelf_time_start = Time.now.utc.to_f %>
<div class="topshelf-inline topshelf-inline-<%= topshelf_id %>" data-topshelf-id="<%= topshelf_id %>" data-default-tab="facebook">
	<div class="topshelf-height-tester" style="position:absolute;left:-9999em;"></div>
	<div class="container topshelf-container">
		<div class="topshelf-wrapper">
			<div class="nav">
			</div><!-- .nav -->

			<div class="ul-wrap">
				<%= render(partial: 'topshelf_facebook') %>				
			</div><!-- .ul-wrap -->

			<div class="topshelf-controls">
				<div class="right-arrow">		
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 275.5 612 241" enable-background="new 0 275.5 612 241" xml:space="preserve"><g><line stroke="#000000" stroke-width="28" stroke-miterlimit="10" x1="0" y1="395.2" x2="569.3" y2="395.2"/><g><polygon points="481.1,510.9 461.1,491 563.6,394.2 461.1,300.3 481.1,277.5 606.3,394.2 		"/></g></g></svg>
				</div>
				
				<div class="topshelf-counter"></div>

				<div class="left-arrow">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 275.5 612 241" enable-background="new 0 275.5 612 241" xml:space="preserve"><g><line stroke="#000000" stroke-width="28" stroke-miterlimit="10" x1="37" y1="395.2" x2="606.3" y2="395.2"/><g><polygon points="0,394.2 125.2,277.5 145.2,300.3 42.7,394.2 145.2,491 125.2,510.9 		"/></g></g></svg>
				</div>	
			</div><!-- .topshelf-controls -->

		</div><!-- .topshelf-wrapper -->
	</div><!-- .container -->
</div><!-- .topshelf -->

<script>
$(document).ready(function() {
	var $ts = $('.topshelf-inline-<%= topshelf_id %>');
	$ts.detach();
	$($('.stream-post:nth-of-type(2)')).append($ts);
});
</script>