<% content_for(:body_classes) { " light-on-dark " } %>

<div class="container page-margin static-page">
	<article>
		<aside class="col4">
			<div class="inner">
				<div class="static-logo">
					<%= image_tag "static-m.svg" %>
				</div>
				<div class="static-title">
					Subscribe
				</div>
				<div class="static-desc">
				
				</div>
			</div>
		</aside>
		<div class="static-content">
			<h1>Thank You for Subscribing</h1>
			<p>For real time conversation about our content, please visit our <a href="https://www.facebook.com/TheMarshallProject.org">Facebook page.</a></p>
		</div>
	</article>
</div>
