<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
<link href="https://use.typekit.net" rel="dns-prefetch" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
<!--
  _____ _   _ ____  ____  _   _ _   _
 | ____| \ | |  _ \|  _ \| | | | \ | |
 |  _| |  \| | | | | |_) | | | |  \| |
 | |___| |\  | |_| |  _ <| |_| | |\  |
 |_____|_| \_|____/|_| \_\\___/|_| \_|
 
-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>The Marshall Project</title>
<script>
(function(d) {
  var config = {kitId: 'vse4zee', scriptTimeout: 3000 }
    , h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
})(document);
</script>

<link rel="canonical" href="https://www.themarshallproject.org">
<meta property="og:image" content="https://d1n0c1ufntxbvh.cloudfront.net/photo/751f69e6/1383/1140x/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="The Marshall Project">
<meta property="og:url" content="https://www.themarshallproject.org">
<meta property="og:title" content="It's time to have a conversation about criminal justice.">
<meta property="og:description" content="The Marshall Project: Coming this November.">
<meta property="twitter:site" content="@MarshallProj">
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="https://www.themarshallproject.org">
<meta property="twitter:title" content="Coming this November">
<meta property="twitter:description" content="It’s time to have a conversation about criminal justice">
<meta property="twitter:image" content="https://d1n0c1ufntxbvh.cloudfront.net/photo/751f69e6/1383/1140x//">
<style type="text/css"><%= @inline_css.html_safe %></style>
</head>
<body>
<div class="container page-margin">
	<div class="section-margin">
		<div class="col12">
			<div class="kicker coming-kicker">
				Coming this November
			</div>
		</div>
		<div class="col6">
			<div class="logo">
				<%= image_tag 'full-logo.svg' %>
			</div>
		</div>
		<div class="col6">
			<div class="share-tools">
				<div class="share-button">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 21 21" enable-background="new 0 0 21 21" xml:space="preserve"><g><path fill="#111111" d="M8.3,15.5c0-1.2,0-2.3,0-3.5c0-0.8-0.1-1.5-1.1-1.5c-1.4,0.1-1.4-0.8-1.4-1.8c0-0.9,0.1-1.7,1.3-1.6
					c1.7,0.1,1.2-1.3,1.2-2.1c0.3-3.5,1.4-4.5,4.9-4.4c1,0,2-0.2,2,1.4c0,1.2,0,2.1-1.6,2c-1.2-0.1-1.5,0.7-1.5,1.8
					c0,1.2,0.6,1.4,1.6,1.4c0.7,0,1.7-0.1,1.4,1.1c-0.2,0.9,0.3,2.3-1.3,2.2c-1.6,0-1.7,0.8-1.7,2c0.1,2.2,0,4.3,0,6.5
					c0.1,1.5-0.8,1.5-1.9,1.5c-1.1,0-2,0-1.9-1.5C8.4,17.8,8.3,16.7,8.3,15.5z"/></g></svg>
						<a href="https://www.facebook.com/TheMarshallProject.org" class="share-button-link"></a>
				</div>
				<div class="share-button">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 21 21" enable-background="new 0 0 21 21" xml:space="preserve"><g><path fill="#111111" d="M1.2,16.9c1.9-0.2,3.4-0.4,5.1-1.8c-3.2-0.2-3.3-3.2-3.9-4.9C1.7,8.4,0.7,5.8,2,3.3
					c1.9,1.8,3.9,3.2,6.2,3.8c1.3,0.3,2,0.4,2.3-1.4c0.4-2.7,3-3.9,5.5-2.9c0.7,0.3,1.3,0.7,2.3,0.7c1.1,0,1.8,1.2,1,2.1
					c-0.8,0.9-0.9,1.9-1,2.9C17.4,16.6,8.5,21.2,1.2,16.9z"/></g></svg>
						<a href="https://www.twitter.com/MarshallProj" class="share-button-link"></a>
				</div>
				<div class="share-button donate">
					Donate
					<a href="https://admin.themarshallproject.org/donate/" class="share-button-link"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="col12 section-margin">
		<h1>It’s time to have a national conversation about criminal justice.</h1>
	</div>
	<div class="col6 section-margin">
		<div class="kicker">
			Read Our First Two Stories
		</div>
		<div class="stories">
			<a href="http://www.themarshallproject.org/2014/10/06/no-country-for-young-men/">
				<div class="bullet">
					<svg width="18px" height="18px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1400 1354.8" enable-background="new 0 0 1400 1354.8" xml:space="preserve"><g><g><polygon fill="#FFFFFF" points="22.6,-2 22.6,1352.8 216.4,1352.8 216.4,191.8 		"/><polygon fill="#FFFFFF" points="409.6,385 409.6,1352.8 603.4,1352.8 603.4,578.8 		"/><polygon fill="#FFFFFF" points="1183.6,191.8 1183.6,1352.8 1377.4,1352.8 1377.4,-2 		"/><polygon fill="#FFFFFF" points="796.6,578.8 796.6,1352.8 990.4,1352.8 990.4,385 		"/></g></g></svg>
				</div>
				No Country for Young Men
			</a>
		</div>
		<div class="clear">
		</div>
		<div class="stories">
			<a href="http://www.themarshallproject.org/2014/08/03/did-texas-execute-an-innocent-man-willingham/">
				<div class="bullet">
					<svg width="18px" height="18px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1400 1354.8" enable-background="new 0 0 1400 1354.8" xml:space="preserve"><g><g><polygon fill="#FFFFFF" points="22.6,-2 22.6,1352.8 216.4,1352.8 216.4,191.8 		"/><polygon fill="#FFFFFF" points="409.6,385 409.6,1352.8 603.4,1352.8 603.4,578.8 		"/><polygon fill="#FFFFFF" points="1183.6,191.8 1183.6,1352.8 1377.4,1352.8 1377.4,-2 		"/><polygon fill="#FFFFFF" points="796.6,578.8 796.6,1352.8 990.4,1352.8 990.4,385 		"/></g></g></svg>
				</div>
				The Prosecutor and the Snitch
			</a>
		</div>
	</div>
	<div class="col6 section-margin">
		<div class="kicker">
			About The Marshall Project
		</div>
		<div class="copy about-copy">
			We’re a not-for-profit, non-partisan news organization dedicated to covering America’s criminal justice system.
		</div>
	</div>
</div>
<div class="email-signup section-margin">
	<div class="container full-bleed email-signup-container">
		<div class="col6 left">
			<div class="copy email-signup-copy">
				Sign up and we'll send you updates.
			</div>
		</div>
		<div class="col6 right">
			<div class="email-signup-form">		
				<form>		
					<%= text_field_tag :email, '', class: 'email-signup-field js-validate-email input', placeholder: "email@example.com" %>
					<input type="submit" class="button submit-email" value="Subscribe"></input>
				</form>				
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<div class="hidden" style="display:none;position:fixed;left:-9999em;">
	<div class="success-message">
		<div class="copy success-copy">
		Thank you! You’ll hear from us shortly. In the meantime, follow us on <a href="https://www.facebook.com/TheMarshallProject.org">Facebook</a> and <a href="https://www.twitter.com/MarshallProj">Twitter</a> for criminal justice news.
		</div>
	</div>
</div>
<div class="container">
	<div class="col12 section-margin footer">
		<div class="kicker">
			250 W. 57th Street, Suite 2514 <span class="inline-bullet">&#149;</span> New York, NY 10107 <span class="inline-bullet">&#149;</span> 212.803.5200 <span class="inline-bullet">&#149;</span> <a href="mailto:info@themarshallproject.org">info@themarshallproject.org</a>
		</div>
	</div>
</div>
<div class="words">
	<p>ADDICTION</p>
	<p>ALABAMA</p>
	<p>BALTIMORE, MARYLAND</p>
	<p>CALIFORNIA</p>
	<p>CHICAGO, ILLINOIS</p>
	<p>CHILD ABUSE</p>
	<p>CHILD MIGRANTS</p>
	<p>CIVIL RIGHTS</p>
	<p>COLORADO</p>
	<p>CONGRESS</p>
	<p>CORRUPTION</p>
	<p>COURT DECISION</p>
	<p>CRIME RATES</p>
	<p>DEATH PENALTY</p>
	<p>DENVER, COLORADO</p>
	<p>DETROIT, MICHIGAN</p>
	<p>DISTRICT OF COLUMBIA</p>
	<p>DNA</p>
	<p>DOMESTIC VIOLENCE</p>
	<p>ELECTIONS</p>
	<p>EVIDENCE</p>
	<p>EXONERATION</p>
	<p>FBI</p>
	<p>FERGUSON, MISSOURI</p>
	<p>FLORIDA</p>
	<p>FORENSICS</p>
	<p>GANGS</p>
	<p>GEORGIA</p>
	<p>HEALTH CARE</p>
	<p>HEROIN</p>
	<p>HISTORY</p>
	<p>HOMICIDE RATES</p>
	<p>HOUSTON, TEXAS</p>
	<p>IMMIGRATION</p>
	<p>INCARCERATION RATES</p>
	<p>INFORMANTS</p>
	<p>INMATES' RIGHTS</p>
	<p>JUVENILE JUSTICE</p>
	<p>KENTUCKY</p>
	<p>LEGAL FEES</p>
	<p>LEGAL PROCEDURE</p>
	<p>LEGISLATIVE REFORM</p>
	<p>LETHAL INJECTION</p>
	<p>LOS ANGELES, CALIFORNIA</p>
	<p>LOUISIANA</p>
	<p>MARIJUANA</p>
	<p>MARYLAND</p>
	<p>MASSACHUSETTS</p>
	<p>MEDIA ACCESS</p>
	<p>MEDIA COVERAGE</p>
	<p>MENTAL HEALTH</p>
	<p>MICHIGAN</p>
	<p>MISSISSIPPI</p>
	<p>MISSOURI</p>
	<p>NEW JERSEY</p>
	<p>NEW ORLEANS, LOUISIANA</p>
	<p>NEW YORK, NEW YORK</p>
	<p>NORTH CAROLINA</p>
	<p>OHIO</p>
	<p>OKLAHOMA</p>
	<p>OREGON</p>
	<p>PARENTING</p>
	<p>PAROLE</p>
	<p>PHILADELPHIA, PENNSYLVANIA</p>
	<p>PRETRIAL DETENTION</p>
	<p>PRISON ABUSE</p>
	<p>PRISON OVER-CROWDING</p>
	<p>PRISON REFORM</p>
	<p>PRISONER RE-ENTRY</p>
	<p>PRIVATE PRISONS</p>
	<p>PROSECUTORIAL MISCONDUCT</p>
	<p>PROTEST</p>
	<p>RACE</p>
	<p>RACIAL DISPARITIES</p>
	<p>RACIAL PROFILING</p>
	<p>RAPE</p>
	<p>REPRODUCTIVE RIGHTS</p>
	<p>RIKERS ISLAND</p>
	<p>SENTENCING</p>
	<p>SENTENCING REFORM</p>
	<p>SEX OFFENDER</p>
	<p>SEXUAL VIOLENCE</p>
	<p>SHERIFFS</p>
	<p>SOLITARY CONFINEMENT</p>
	<p>ST. LOUIS, MISSOURI</p>
	<p>STOP AND FRISK</p>
	<p>SUICIDE</p>
	<p>SUPREME COURT</p>
	<p>SWAT</p>
	<p>TECHNOLOGY</p>
	<p>TENNESSEE</p>
	<p>TERRORISM</p>
	<p>TEXAS</p>
	<p>WOMEN IN PRISON</p>
	<p>WRONGFUL CONVICTION</p>
</div>

<%= javascript_include_tag 'launch', 'data-turbolinks-track' => false %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-47849981-1', 'auto');  
  ga('send', 'pageview');
</script>
<script type="text/javascript">
  var _sf_async_config = { uid: 58316, domain: 'themarshallproject.org', useCanonical: true };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>
</body>
</html>