<% content_for(:body_classes) { " light-on-dark " } %>

<div class="light-on-dark error-styles">
<div class="error-page">
  <div class="logo">
    <svg width="30px" height="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1400 1354.8" enable-background="new 0 0 1400 1354.8" xml:space="preserve"><g><g><polygon fill="#FFFFFF" points="22.6,-2 22.6,1352.8 216.4,1352.8 216.4,191.8     "/><polygon fill="#FFFFFF" points="409.6,385 409.6,1352.8 603.4,1352.8 603.4,578.8    "/><polygon fill="#FFFFFF" points="1183.6,191.8 1183.6,1352.8 1377.4,1352.8 1377.4,-2     "/><polygon fill="#FFFFFF" points="796.6,578.8 796.6,1352.8 990.4,1352.8 990.4,385    "/></g></g></svg>
  </div>
  <div class="clear"></div>
  <p>We're sorry. The page you're looking for doesn't exist. <a href="/">Return.</a></p>
</div>
