<div class="container" style="margin-top: 120px; background: #FFF; padding: 30px;">
<h2>Tracking Pixel</h2>
<pre style="font-size: 15px;"><%= '<script async src="https://www.themarshallproject.org/pixel.js"></script>' %></pre>
</div>