<% content_for(:title) {
	["About Thurgood Marshall", "The Marshall Project"].join(" | ")
} %>

<% content_for(:canonical_url) { "https://www.themarshallproject.org/about/thurgood-marshall" } %>

<% content_for(:body_classes) { " light-on-dark " } %>

<% content_for(:head) { %>
	<meta property="og:type" content="article">
	<meta property="og:site_name" content="The Marshall Project">
	<meta property="article:publisher" content="https://www.facebook.com/TheMarshallProject.org">

	<meta property="og:url" content="tktk">
	<meta property="og:title" content="tktk">
	<meta property="og:description" content="tktk">
	<meta property="og:image" content="tktk">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@MarshallProj">
	<meta name="twitter:title" content="tktk">
	<meta name="twitter:description" content="tktk">
	<meta name="twitter:image:src"   content="tktk">
<% } %>

<div class="container page-margin static-page">
	<article>
	TKTKd
	</article>
</div>
