<div id="debug-box" style="position:fixed;right:0;top:100px;width:200px;background:#FFF;color:#333;opacity:0.7;z-index:90000">
	to_bottom <div id="debug-distance-to-bottom"></div>
	stream_item_count <div id="stream-items"></div>
	updated_at <div id="stream-updated_at"></div>
	stream downloading? <div id="stream-downloading"></div>
</div>