<!doctype>
<head>
<meta name="robots" content="noindex, nofollow">
<title></title>
<style>
body {
	font-family: Helvetica;
	font-weight: 500;
	font-size: 14px;
	width: 600px;
	max-width: 100%;
	margin: 40px auto;
}
</style>
</head>
<body>
	<%= yield %>
</body>
</html>